main {
    min-height: calc(100vh - 160px);
  }
  
 .card {
  width: 300px; 
  height: 400px; 
}


.card-img-top {
  height: 200px;
  object-fit: cover; 
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height:200px; 
  overflow-y: auto;
}